body {
  margin: 10px 350px;
}

main {
  margin-top: 50px;
}

#form-conexion {
  display: flex;
  flex-direction: column;
  border: 3px solid #ed6454;
  border-radius: 5px;
  align-items: center;
}

#form-connexion div {
  margin: 15px 0;
}

#form div {
  margin: 20px auto;
}
