body {
  margin: 100px 100px;
}

h1 {
  color: #d04f4f;
  font-family: DM Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: center;
}
