body {
  margin: 0 50px;
}

/* HEADER */

h1 {
  color: #d04f4f;
  font-family: DM Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: center;
}

.filter {
  display: flex;
  column-gap: 10%;
  width: 50%;
  margin-bottom: 30px;
}

/* NAV */

#ingredients {
  background-color: #3282f7;
  color: #fff;
}

#ingredients::placeholder {
  color: #fff;
}

#appareils {
  background-color: #68d9a4;
  color: #fff;
}

#appareils::placeholder {
  color: #fff;
}

#ustensils {
  background: #ed6454;
  color: #fff;
}

#ustensils::placeholder {
  color: #fff;
}

/* MAIN  AND RECIPE CARD*/

.card__desc {
  display: flex;
}

#card__image {
  height: 180px;
  background-color: #c7bebe;
}

.card__desc {
  margin: 10px;
}

.card-title {
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.card-timer {
  align-self: end;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.card-preparation {
  width: 50%;
}

.card-ingredients {
  width: 50%;
}

.card-text {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
}
